@font-face {
  font-family: TitlingMedium;
  font-weight: normal;
  font-style: normal;
  src: url("../assets/fonts/TitlingGothicFB-MediumSkyline.eot");
  src: url("../assets/fonts/TitlingGothicFB-MediumSkyline.eot?#iefix") format("embedded-opentype"), url("../assets/fonts/TitlingGothicFB-MediumSkyline.woff") format("woff"), url("../assets/fonts/TitlingGothicFB-MediumSkyline.ttf") format("truetype"), url("../assets/fonts/TitlingGothicFB-MediumSkyline.svg#TitlingMedium") format("svg");
}

@font-face {
  font-family: TitlingStandard;
  font-weight: normal;
  font-style: normal;
  src: url("../assets/fonts/TitlingGothicFB-StandardSkylin.eot");
  src: url("../assets/fonts/TitlingGothicFB-StandardSkylin.eot?#iefix") format("embedded-opentype"), url("../assets/fonts/TitlingGothicFB-StandardSkylin.woff") format("woff"), url("../assets/fonts/TitlingGothicFB-StandardSkylin.ttf") format("truetype"), url("../assets/fonts/TitlingGothicFB-StandardSkylin.svg#TitlingStandard") format("svg");
}

.v-centered {
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
}

.h-centered {
  left: 50%;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  transform: translateX(-50%);
}

.vh-centered {
  left: 50%;
  top: 50%;
  position: absolute;
  -webkit-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -ms-transform: translateX(-50%) translateY(-50%);
  -o-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
}

#CollectionView {
  position: relative;
  border: 50px solid transparent;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: 20;
}
@media (max-width: 768px) {
  #CollectionView {
    border-left: 0;
    border-right: 0;
  }
}

.collection-item {
  position: absolute;
  width: 275px;
  height: 187px;
  overflow: hidden;
  cursor: pointer;
}
.collection-item .plus-icon {
  left: 50%;
  top: 50%;
  margin: -18px;
  position: absolute;
  display: block;
  opacity: 0;
  -webkit-transform: scale(0);
  -moz-transform: scale(0);
  -ms-transform: scale(0);
  -o-transform: scale(0);
  transform: scale(0);
  pointer-events: none;
}
.collection-item .sku-name {
  left: 0;
  top: 50%;
  margin-top: -9px;
  position: absolute;
  font-size: 18px;
  color: white;
  letter-spacing: 0.2em;
  text-align: center;
  width: 100%;
  pointer-events: none;
}

.collection-image {
  -webkit-transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
  -moz-transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
  width: 100%;
  height: 100%;
  -webkit-transform-origin: 50% 50%;
  -moz-transform-origin: 50% 50%;
  -ms-transform-origin: 50% 50%;
  -o-transform-origin: 50% 50%;
  transform-origin: 50% 50%;
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
  transform: scale(1);
}

.collection-item.selected .sku-name, .collection-item-hover .sku-name {
  -webkit-transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
  -moz-transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
  font-size: 18px;
  color: #9e8a59;
  top: 80%;
}
.collection-item.selected .plus-icon, .collection-item-hover .plus-icon {
  -webkit-transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
  -moz-transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
  transform: scale(1);
  opacity: 1;
}
.collection-item.selected .collection-image, .collection-item-hover .collection-image {
  -webkit-transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
  -moz-transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
  width: 100%;
  height: 100%;
  -webkit-transform: scale(1.5);
  -moz-transform: scale(1.5);
  -ms-transform: scale(1.5);
  -o-transform: scale(1.5);
  transform: scale(1.5);
  -webkit-filter: grayscale(0);
  filter: grayscale(0);
}

.collection-item.selected .plus-icon {
  -webkit-animation: rotateLoop 2s infinite linear;
  -moz-animation: rotateLoop 2s infinite linear;
  animation: rotateLoop 2s infinite linear;
}

@-webkit-keyframes rotation {
  from {
    -webkit-transform: rotate(0deg);
  }

  to {
    -webkit-transform: rotate(359deg);
  }
}

@-webkit-keyframes rotateLoop {
  from {
    -webkit-transform: rotate(0deg);
  }

  to {
    -webkit-transform: rotate(359deg);
  }
}

@-moz-keyframes rotateLoop {
  from {
    -moz-transform: rotate(0deg);
  }

  to {
    -moz-transform: rotate(359deg);
  }
}

@-o-keyframes rotateLoop {
  from {
    -o-transform: rotate(0deg);
  }

  to {
    -o-transform: rotate(359deg);
  }
}

@keyframes rotateLoop {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(359deg);
  }
}

.whiteCollectionStripe {
  display: block;
  z-index: 0;
  background-color: white;
  top: 0;
  position: absolute;
}
