@import "globals";

#CollectionView{

  @include position(relative,  0 0 0 0);
  border: 50px solid transparent;
  @media ($iphone) {

    border-left:0;
    border-right:0;
  }

  @include size(100% 100%);

  overflow: hidden;

  z-index: 20;
 //border-bottom: none;
  //display: none;


}

.collection-item{
  position: absolute;

  width: 275px;
  height: 187px;
  overflow: hidden;
  cursor: pointer;

  .plus-icon{
    left: 50%;
    top: 50%;
    margin: -18px;
    position: absolute;

    display: block;

    opacity: 0;
    @include transform(scale(0));
    pointer-events:none;
  }

  .sku-name{
    left: 0;
    top: 50%;
    margin-top: -9px;
    position: absolute;
    font-size: 18px;
    color: white;
    letter-spacing: 0.2em;
    text-align: center;
    width: 100%;
    pointer-events:none;
    text-decoration: none;
  }


}

a{
  text-decoration: none;
}
.collection-image{
  @include transition(all 0.6s $ease-out-quart);
  width:100%;
  height: 100%;
  @include transform-origin(50% 50%);
  @include filter(grayscale(100%));
  @include transform(scale(1));

}


.collection-item.selected, .collection-item-hover{
  .sku-name{

    @include transition(all 0.6s $ease-out-quart);
    font-size:18px;
    color:$main-color;
  top:80%;
    //@include transform(translateY(200%));

  }
  .plus-icon{

    @include transition(all 0.6s $ease-out-quart);
    @include transform(scale(1));
    opacity: 1;
  }

  .collection-image{
    @include transition(all 0.6s $ease-out-quart);
    width:100%;
    height: 100%;
    @include transform(scale(1.5));
    @include filter(grayscale(0));


  }

}

.collection-item.selected{
  .plus-icon{
    @include animation( rotateLoop 2s infinite linear);

  }


}
@-webkit-keyframes rotation {
  from {-webkit-transform: rotate(0deg);}
  to   {-webkit-transform: rotate(359deg);}
}
@include keyframes(rotateLoop) {
  from {
    @include transform(rotate(0deg));
  }
  to {
    @include transform(rotate(359deg));
  }
}
.whiteCollectionStripe{
  display: block;
  z-index:0;
  background-color: white;
  top:0;
  position: absolute;
}