@import "globals";
#BrandView{
  @include position(absolute,  0 0 0 0);
  border: 50px solid white;

}
#DetailsView, #BrandView{
  @include position(absolute,  0 0 0 0);
  display:none;
  @media ($iphone) {

    border-left:0;
    border-right:0;
  }


  cursor: auto;
  pointer-events: all;


  @include size(100% 100%);
  top:0;

  z-index: 24;
//  display: block;
  background-color: #eee;
  color:#aaa;

 p, h1{
    white-space: normal;

   display: table;
   text-align: center;
  }

  p{
    color:#aaa;
    font-size: 14px;
    font-family: Georgia, serif;
    font-weight: 100;
    margin: 30px 10%;
  }

  h1{
    font-size: 15px;
    letter-spacing: 0.3em;
    text-align: center;
    width: 100%;
  }
 .image, .detailsImage{
   width: 100%;
   height: 100%;
   position: relative;
   background-size: cover;
   background-repeat: no-repeat;
   background-position: center center;
 }

}

.DetailsRow{
  display: block;
  height: 50%;
  font-size: 0;
  .columnA{
   @include size(50% 100%);
    display: inline-block;
    overflow: hidden;
  }
  .columnB{
    @include size(50% 100%);
    display: inline-block;
    overflow: hidden;
  }
}


.rowTop{
  @extend .DetailsRow;

}

.rowBottom{
  @extend .DetailsRow;

}

.detailTextWrapper{
  top: 50%;
  position: relative;
  @include transform(translateY(-50%));

}