@font-face {
  font-family: TitlingMedium;
  font-weight: normal;
  font-style: normal;
  src: url("../assets/fonts/TitlingGothicFB-MediumSkyline.eot");
  src: url("../assets/fonts/TitlingGothicFB-MediumSkyline.eot?#iefix") format("embedded-opentype"), url("../assets/fonts/TitlingGothicFB-MediumSkyline.woff") format("woff"), url("../assets/fonts/TitlingGothicFB-MediumSkyline.ttf") format("truetype"), url("../assets/fonts/TitlingGothicFB-MediumSkyline.svg#TitlingMedium") format("svg");
}

@font-face {
  font-family: TitlingStandard;
  font-weight: normal;
  font-style: normal;
  src: url("../assets/fonts/TitlingGothicFB-StandardSkylin.eot");
  src: url("../assets/fonts/TitlingGothicFB-StandardSkylin.eot?#iefix") format("embedded-opentype"), url("../assets/fonts/TitlingGothicFB-StandardSkylin.woff") format("woff"), url("../assets/fonts/TitlingGothicFB-StandardSkylin.ttf") format("truetype"), url("../assets/fonts/TitlingGothicFB-StandardSkylin.svg#TitlingStandard") format("svg");
}

.v-centered {
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
}

.h-centered {
  left: 50%;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  transform: translateX(-50%);
}

.vh-centered {
  left: 50%;
  top: 50%;
  position: absolute;
  -webkit-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -ms-transform: translateX(-50%) translateY(-50%);
  -o-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
}

#DetailsView {
  position: absolute;
  cursor: auto;
  pointer-events: all;
  width: 100%;
  height: 100%;
  top: 0;
  z-index: 24;
  display: block;
  background-color: #eee;
  color: #aaa;
}
@media (max-width: 768px) {
  #DetailsView {
    border-left: 0;
    border-right: 0;
  }
}
#DetailsView p, #DetailsView h1 {
  white-space: normal;
  display: table;
  text-align: center;
}
#DetailsView p {
  color: #aaa;
  font-size: 14px;
  font-family: Georgia, serif;
  font-weight: 100;
  margin: 30px 10%;
}
#DetailsView h1 {
  font-size: 15px;
  letter-spacing: 0.3em;
  text-align: center;
  width: 100%;
}
#DetailsView .image {
  width: 100%;
  height: 100%;
  position: relative;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.DetailsRow, .rowTop, .rowBottom {
  display: block;
  height: 50%;
}
.DetailsRow .columnA, .rowTop .columnA, .rowBottom .columnA {
  width: 50%;
  height: 100%;
  display: inline-block;
}
.DetailsRow .columnB, .rowTop .columnB, .rowBottom .columnB {
  width: 50%;
  height: 100%;
  display: inline-block;
}

.detailTextWrapper {
  top: 50%;
  position: relative;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
}
