@import 'bourbon/_bourbon';

@include font-face(TitlingMedium, '../assets/fonts/TitlingGothicFB-MediumSkyline');
@include font-face(TitlingStandard, '../assets/fonts/TitlingGothicFB-StandardSkylin');


$main-color: #9e8a59;
$white-color: #fff;
$secondary-color:#b1b4b4;

$borderSize:50px;
$iphone:'max-width: 768px';

.v-centered{
  top: 50%;
  @include transform(translateY(-50%));
}

.h-centered{
  left: 50%;
  @include transform(translateX(-50%));
}

.vh-centered{
  left: 50%;
  top: 50%;
  position: absolute;
  @include transform(translateX(-50%) translateY(-50%));
}