@font-face {
  font-family: TitlingMedium;
  font-weight: normal;
  font-style: normal;
  src: url("../assets/fonts/TitlingGothicFB-MediumSkyline.eot");
  src: url("../assets/fonts/TitlingGothicFB-MediumSkyline.eot?#iefix") format("embedded-opentype"), url("../assets/fonts/TitlingGothicFB-MediumSkyline.woff") format("woff"), url("../assets/fonts/TitlingGothicFB-MediumSkyline.ttf") format("truetype"), url("../assets/fonts/TitlingGothicFB-MediumSkyline.svg#TitlingMedium") format("svg");
}

@font-face {
  font-family: TitlingStandard;
  font-weight: normal;
  font-style: normal;
  src: url("../assets/fonts/TitlingGothicFB-StandardSkylin.eot");
  src: url("../assets/fonts/TitlingGothicFB-StandardSkylin.eot?#iefix") format("embedded-opentype"), url("../assets/fonts/TitlingGothicFB-StandardSkylin.woff") format("woff"), url("../assets/fonts/TitlingGothicFB-StandardSkylin.ttf") format("truetype"), url("../assets/fonts/TitlingGothicFB-StandardSkylin.svg#TitlingStandard") format("svg");
}

.v-centered, #MenuView .itemWrapper {
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
}

.h-centered {
  left: 50%;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  transform: translateX(-50%);
}

.vh-centered {
  left: 50%;
  top: 50%;
  position: absolute;
  -webkit-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -ms-transform: translateX(-50%) translateY(-50%);
  -o-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
}

#MenuView {
  background-color: rgba(255, 255, 255, 0.95);
  z-index: 1000;
  position: absolute;
  width: 100%;
  height: 100%;
  display: none;
  top: 0;
  border: 50px solid transparent;
}

#menu-button {
  width: 27px;
  height: 40px;
  margin: 10px;
  background: none;
  z-index: 1100;
  margin-top: 0px;
  top: -50px;
  position: absolute;
  padding-top: 20px;
  cursor: pointer;
}
#menu-button i {
  height: 4px;
  width: 27px;
  display: block;
  background: #9e8a59;
}
#menu-button i:before {
  width: 27px;
  height: 4px;
  background: #9e8a59;
  content: '';
  display: block;
  position: absolute;
  z-index: -1;
  top: 12px;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
}
#menu-button i:after {
  width: 27px;
  height: 4px;
  background: #9e8a59;
  content: '';
  display: block;
  position: absolute;
  z-index: -1;
  top: 28px;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
}

#menu-button:hover i {
  background: #b1b4b4;
}
#menu-button:hover i:before {
  background: #b1b4b4;
  top: 10px;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
}
#menu-button:hover i:after {
  background: #b1b4b4;
  top: 30px;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
}

#menu-button.open i {
  background: #b1b4b4;
}
#menu-button.open i:before {
  background: #b1b4b4;
  top: 20px;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
}
#menu-button.open i:after {
  background: #b1b4b4;
  top: 20px;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
}

#MenuView .item {
  cursor: pointer;
  font-size: 64px;
  text-align: center;
  letter-spacing: 0.2em;
  height: 80px;
  position: relative;
  opacity: 0.4;
  margin-left: auto;
  margin-right: auto;
  -webkit-transition: all 0.6s cubic-bezier(0.25, 0.46, 0.45, 0.94);
  -moz-transition: all 0.6s cubic-bezier(0.25, 0.46, 0.45, 0.94);
  transition: all 0.6s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}
#MenuView .item .left {
  position: relative;
  left: 100%;
  opacity: 0;
  -webkit-transition: all 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94);
  -moz-transition: all 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94);
  transition: all 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}
#MenuView .item .left.slideIn {
  position: relative;
  left: 0;
  opacity: 1;
}
#MenuView .item .right {
  position: relative;
  margin-left: -0.2em;
  left: -100%;
  opacity: 0;
  -webkit-transition: all 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94);
  -moz-transition: all 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94);
  transition: all 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}
#MenuView .item .right.slideIn {
  position: relative;
  left: 0;
  opacity: 1;
}
#MenuView .item .right2 {
  margin-left: -0.8em;
}
#MenuView .item:hover {
  -webkit-transition: all 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94);
  -moz-transition: all 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94);
  transition: all 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94);
  opacity: 1;
}
#MenuView .item:nth-child(1) {
  width: 298px;
}
#MenuView .item:nth-child(1) .left {
  -webkit-transition: all 0.6s cubic-bezier(0.25, 0.46, 0.45, 0.94);
  -moz-transition: all 0.6s cubic-bezier(0.25, 0.46, 0.45, 0.94);
  transition: all 0.6s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}
#MenuView .item:nth-child(1) .right {
  -webkit-transition: all 0.6s cubic-bezier(0.25, 0.46, 0.45, 0.94);
  -moz-transition: all 0.6s cubic-bezier(0.25, 0.46, 0.45, 0.94);
  transition: all 0.6s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}
#MenuView .item:nth-child(2) {
  width: 159px;
}
#MenuView .item:nth-child(2) .left {
  -webkit-transition: all 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94);
  -moz-transition: all 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94);
  transition: all 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}
#MenuView .item:nth-child(2) .right {
  -webkit-transition: all 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94);
  -moz-transition: all 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94);
  transition: all 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}
#MenuView .item:nth-child(3) {
  width: 118px;
}

.mask-left {
  position: absolute;
  overflow: hidden;
  width: 50%;
  display: block;
  left: 0;
  text-align: left;
}

.mask-right {
  position: absolute;
  overflow: hidden;
  width: 50%;
  display: block;
  right: 0;
  text-align: right;
}

#MenuView .itemWrapper {
  position: absolute;
  left: 50%;
  margin-left: -151px;
  width: 302px;
}

.social-bar {
  text-align: center;
  top: 160px;
  position: relative;
}
.social-bar a {
  cursor: pointer;
  display: inline-block;
  -webkit-transition: all 0.6s;
  -moz-transition: all 0.6s;
  transition: all 0.6s;
}
.social-bar a img {
  top: 0px;
  position: relative;
}
.social-bar a:hover img {
  top: -5px;
  position: relative;
  -webkit-transition: all 0.6s;
  -moz-transition: all 0.6s;
  transition: all 0.6s;
}
