@font-face {
  font-family: TitlingMedium;
  font-weight: normal;
  font-style: normal;
  src: url("../assets/fonts/TitlingGothicFB-MediumSkyline.eot");
  src: url("../assets/fonts/TitlingGothicFB-MediumSkyline.eot?#iefix") format("embedded-opentype"), url("../assets/fonts/TitlingGothicFB-MediumSkyline.woff") format("woff"), url("../assets/fonts/TitlingGothicFB-MediumSkyline.ttf") format("truetype"), url("../assets/fonts/TitlingGothicFB-MediumSkyline.svg#TitlingMedium") format("svg");
}

@font-face {
  font-family: TitlingStandard;
  font-weight: normal;
  font-style: normal;
  src: url("../assets/fonts/TitlingGothicFB-StandardSkylin.eot");
  src: url("../assets/fonts/TitlingGothicFB-StandardSkylin.eot?#iefix") format("embedded-opentype"), url("../assets/fonts/TitlingGothicFB-StandardSkylin.woff") format("woff"), url("../assets/fonts/TitlingGothicFB-StandardSkylin.ttf") format("truetype"), url("../assets/fonts/TitlingGothicFB-StandardSkylin.svg#TitlingStandard") format("svg");
}

.v-centered, .slideshow-h, #MenuView .itemWrapper, .product-view-wrapper .sku-name {
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
}

.h-centered {
  left: 50%;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  transform: translateX(-50%);
}

.vh-centered {
  left: 50%;
  top: 50%;
  position: absolute;
  -webkit-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -ms-transform: translateX(-50%) translateY(-50%);
  -o-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
}

@font-face {
  font-family: TitlingMedium;
  font-weight: normal;
  font-style: normal;
  src: url("../assets/fonts/TitlingGothicFB-MediumSkyline.eot");
  src: url("../assets/fonts/TitlingGothicFB-MediumSkyline.eot?#iefix") format("embedded-opentype"), url("../assets/fonts/TitlingGothicFB-MediumSkyline.woff") format("woff"), url("../assets/fonts/TitlingGothicFB-MediumSkyline.ttf") format("truetype"), url("../assets/fonts/TitlingGothicFB-MediumSkyline.svg#TitlingMedium") format("svg");
}

@font-face {
  font-family: TitlingStandard;
  font-weight: normal;
  font-style: normal;
  src: url("../assets/fonts/TitlingGothicFB-StandardSkylin.eot");
  src: url("../assets/fonts/TitlingGothicFB-StandardSkylin.eot?#iefix") format("embedded-opentype"), url("../assets/fonts/TitlingGothicFB-StandardSkylin.woff") format("woff"), url("../assets/fonts/TitlingGothicFB-StandardSkylin.ttf") format("truetype"), url("../assets/fonts/TitlingGothicFB-StandardSkylin.svg#TitlingStandard") format("svg");
}

.v-centered, .slideshow-h, #MenuView .itemWrapper, .product-view-wrapper .sku-name {
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
}

.h-centered {
  left: 50%;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  transform: translateX(-50%);
}

.vh-centered {
  left: 50%;
  top: 50%;
  position: absolute;
  -webkit-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -ms-transform: translateX(-50%) translateY(-50%);
  -o-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
}

#SlideShow {
  position: relative;
  border: 50px solid transparent;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: 1;
}

.slideshow-wrapper {
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;
  -webkit-transform: scale(0);
  -moz-transform: scale(0);
  -ms-transform: scale(0);
  -o-transform: scale(0);
  transform: scale(0);
}

.zoomIn {
  -webkit-transition: all 2s cubic-bezier(0.25, 0.46, 0.45, 0.94);
  -moz-transition: all 2s cubic-bezier(0.25, 0.46, 0.45, 0.94);
  transition: all 2s cubic-bezier(0.25, 0.46, 0.45, 0.94);
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
  transform: scale(1);
}

.slideshow-image, .slide-image {
  width: 100%;
  height: 100%;
  position: absolute;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

#slide0 .slide-image {
  -webkit-transform-origin: 20% 80%;
  -moz-transform-origin: 20% 80%;
  -ms-transform-origin: 20% 80%;
  -o-transform-origin: 20% 80%;
  transform-origin: 20% 80%;
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -o-transform: scale(1.1);
  transform: scale(1.1);
}

#slide1 .slide-image {
  -webkit-transform-origin: 60% 80%;
  -moz-transform-origin: 60% 80%;
  -ms-transform-origin: 60% 80%;
  -o-transform-origin: 60% 80%;
  transform-origin: 60% 80%;
}

#slide2 .slide-image {
  -webkit-transform-origin: 100% 40%;
  -moz-transform-origin: 100% 40%;
  -ms-transform-origin: 100% 40%;
  -o-transform-origin: 100% 40%;
  transform-origin: 100% 40%;
}

#slide3 .slide-image {
  -webkit-transform-origin: 70% 40%;
  -moz-transform-origin: 70% 40%;
  -ms-transform-origin: 70% 40%;
  -o-transform-origin: 70% 40%;
  transform-origin: 70% 40%;
}

#slide4 .slide-image {
  -webkit-transform-origin: 20% 80%;
  -moz-transform-origin: 20% 80%;
  -ms-transform-origin: 20% 80%;
  -o-transform-origin: 20% 80%;
  transform-origin: 20% 80%;
}

#slide5 .slide-image {
  -webkit-transform-origin: 60% 80%;
  -moz-transform-origin: 60% 80%;
  -ms-transform-origin: 60% 80%;
  -o-transform-origin: 60% 80%;
  transform-origin: 60% 80%;
}

#slide6 .slide-image {
  -webkit-transform-origin: 30% 40%;
  -moz-transform-origin: 30% 40%;
  -ms-transform-origin: 30% 40%;
  -o-transform-origin: 30% 40%;
  transform-origin: 30% 40%;
}

#slide7 .slide-image {
  -webkit-transform-origin: 70% 40%;
  -moz-transform-origin: 70% 40%;
  -ms-transform-origin: 70% 40%;
  -o-transform-origin: 70% 40%;
  transform-origin: 70% 40%;
}

@-webkit-keyframes slideMeIn {
  0% {
    -webkit-transform: scale(1.1) translateY(100%);
  }

  50% {
    -webkit-transform: scale(1) translateY(0);
  }
}

@-moz-keyframes slideMeIn {
  0% {
    -moz-transform: scale(1.1) translateY(100%);
  }

  50% {
    -moz-transform: scale(1) translateY(0);
  }
}

@-o-keyframes slideMeIn {
  0% {
    -o-transform: scale(1.1) translateY(100%);
  }

  50% {
    -o-transform: scale(1) translateY(0);
  }
}

@keyframes slideMeIn {
  0% {
    transform: scale(1.1) translateY(100%);
  }

  50% {
    transform: scale(1) translateY(0);
  }
}

.slideIn {
  -webkit-animation: slideMeIn 2s cubic-bezier(0.25, 0.46, 0.45, 0.94);
  -moz-animation: slideMeIn 2s cubic-bezier(0.25, 0.46, 0.45, 0.94);
  animation: slideMeIn 2s cubic-bezier(0.25, 0.46, 0.45, 0.94);
  /*
  @include transition(all 1s $ease-out-quad);

  top:0 !important;
  */
}

.active {
  z-index: 6;
}

.slideshow-pagination {
  position: absolute;
  right: 0;
  width: 10px;
  height: 88px;
  top: 50%;
  margin-top: -44px;
  z-index: 15;
}
@media (max-width: 768px) {
  .slideshow-pagination {
    right: 38px;
  }
}

.slideshow-pagination i {
  width: 10px;
  height: 11px;
  background-image: url("../assets/img/ui/diamond_off.svg");
  display: block;
  cursor: pointer;
  position: relative;
  -webkit-transform: translateX(20px);
  -moz-transform: translateX(20px);
  -ms-transform: translateX(20px);
  -o-transform: translateX(20px);
  transform: translateX(20px);
}
.slideshow-pagination .on {
  background-image: url("../assets/img/ui/diamond_on.svg");
}
.slideshow-pagination i:hover {
  opacity: 0.5;
}

.slideshow-h {
  font-family: "TitlingStandard";
  font-size: 255px;
  line-height: 25px;
  letter-spacing: 0.1em;
  opacity: 0.3;
  color: white;
  text-align: center;
  width: 100%;
  height: auto;
  margin: 0 0 0 0;
  position: absolute;
  pointer-events: none;
}
@media (max-width: 768px) {
  .slideshow-h {
    font-size: 100px;
  }
}

.slide-cta {
  font-family: "TitlingStandard";
  font-size: 14px;
  color: #9d8a35;
  line-height: 4.167;
  text-align: center;
  position: relative;
  top: 80%;
  opacity: 0;
  z-index: 15;
  letter-spacing: 0.9em;
  cursor: pointer;
}

@font-face {
  font-family: TitlingMedium;
  font-weight: normal;
  font-style: normal;
  src: url("../assets/fonts/TitlingGothicFB-MediumSkyline.eot");
  src: url("../assets/fonts/TitlingGothicFB-MediumSkyline.eot?#iefix") format("embedded-opentype"), url("../assets/fonts/TitlingGothicFB-MediumSkyline.woff") format("woff"), url("../assets/fonts/TitlingGothicFB-MediumSkyline.ttf") format("truetype"), url("../assets/fonts/TitlingGothicFB-MediumSkyline.svg#TitlingMedium") format("svg");
}

@font-face {
  font-family: TitlingStandard;
  font-weight: normal;
  font-style: normal;
  src: url("../assets/fonts/TitlingGothicFB-StandardSkylin.eot");
  src: url("../assets/fonts/TitlingGothicFB-StandardSkylin.eot?#iefix") format("embedded-opentype"), url("../assets/fonts/TitlingGothicFB-StandardSkylin.woff") format("woff"), url("../assets/fonts/TitlingGothicFB-StandardSkylin.ttf") format("truetype"), url("../assets/fonts/TitlingGothicFB-StandardSkylin.svg#TitlingStandard") format("svg");
}

.v-centered, .slideshow-h, #MenuView .itemWrapper, .product-view-wrapper .sku-name {
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
}

.h-centered {
  left: 50%;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  transform: translateX(-50%);
}

.vh-centered {
  left: 50%;
  top: 50%;
  position: absolute;
  -webkit-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -ms-transform: translateX(-50%) translateY(-50%);
  -o-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
}

#CollectionView {
  position: relative;
  border: 50px solid transparent;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: 20;
}
@media (max-width: 768px) {
  #CollectionView {
    border-left: 0;
    border-right: 0;
  }
}

.collection-item {
  position: absolute;
  width: 275px;
  height: 187px;
  overflow: hidden;
  cursor: pointer;
}
.collection-item .plus-icon {
  left: 50%;
  top: 50%;
  margin: -18px;
  position: absolute;
  display: block;
  opacity: 0;
  -webkit-transform: scale(0);
  -moz-transform: scale(0);
  -ms-transform: scale(0);
  -o-transform: scale(0);
  transform: scale(0);
  pointer-events: none;
}
.collection-item .sku-name {
  left: 0;
  top: 50%;
  margin-top: -9px;
  position: absolute;
  font-size: 18px;
  color: white;
  letter-spacing: 0.2em;
  text-align: center;
  width: 100%;
  pointer-events: none;
}

.collection-image {
  -webkit-transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
  -moz-transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
  width: 100%;
  height: 100%;
  -webkit-transform-origin: 50% 50%;
  -moz-transform-origin: 50% 50%;
  -ms-transform-origin: 50% 50%;
  -o-transform-origin: 50% 50%;
  transform-origin: 50% 50%;
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
  transform: scale(1);
}

.collection-item.selected .sku-name, .collection-item-hover .sku-name {
  -webkit-transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
  -moz-transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
  font-size: 18px;
  color: #9e8a59;
  top: 80%;
}
.collection-item.selected .plus-icon, .collection-item-hover .plus-icon {
  -webkit-transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
  -moz-transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
  transform: scale(1);
  opacity: 1;
}
.collection-item.selected .collection-image, .collection-item-hover .collection-image {
  -webkit-transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
  -moz-transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
  width: 100%;
  height: 100%;
  -webkit-transform: scale(1.5);
  -moz-transform: scale(1.5);
  -ms-transform: scale(1.5);
  -o-transform: scale(1.5);
  transform: scale(1.5);
  -webkit-filter: grayscale(0);
  filter: grayscale(0);
}

.collection-item.selected .plus-icon {
  -webkit-animation: rotateLoop 2s infinite linear;
  -moz-animation: rotateLoop 2s infinite linear;
  animation: rotateLoop 2s infinite linear;
}

@-webkit-keyframes rotation {
  from {
    -webkit-transform: rotate(0deg);
  }

  to {
    -webkit-transform: rotate(359deg);
  }
}

@-webkit-keyframes rotateLoop {
  from {
    -webkit-transform: rotate(0deg);
  }

  to {
    -webkit-transform: rotate(359deg);
  }
}

@-moz-keyframes rotateLoop {
  from {
    -moz-transform: rotate(0deg);
  }

  to {
    -moz-transform: rotate(359deg);
  }
}

@-o-keyframes rotateLoop {
  from {
    -o-transform: rotate(0deg);
  }

  to {
    -o-transform: rotate(359deg);
  }
}

@keyframes rotateLoop {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(359deg);
  }
}

.whiteCollectionStripe {
  display: block;
  z-index: 0;
  background-color: white;
  top: 0;
  position: absolute;
}

@font-face {
  font-family: TitlingMedium;
  font-weight: normal;
  font-style: normal;
  src: url("../assets/fonts/TitlingGothicFB-MediumSkyline.eot");
  src: url("../assets/fonts/TitlingGothicFB-MediumSkyline.eot?#iefix") format("embedded-opentype"), url("../assets/fonts/TitlingGothicFB-MediumSkyline.woff") format("woff"), url("../assets/fonts/TitlingGothicFB-MediumSkyline.ttf") format("truetype"), url("../assets/fonts/TitlingGothicFB-MediumSkyline.svg#TitlingMedium") format("svg");
}

@font-face {
  font-family: TitlingStandard;
  font-weight: normal;
  font-style: normal;
  src: url("../assets/fonts/TitlingGothicFB-StandardSkylin.eot");
  src: url("../assets/fonts/TitlingGothicFB-StandardSkylin.eot?#iefix") format("embedded-opentype"), url("../assets/fonts/TitlingGothicFB-StandardSkylin.woff") format("woff"), url("../assets/fonts/TitlingGothicFB-StandardSkylin.ttf") format("truetype"), url("../assets/fonts/TitlingGothicFB-StandardSkylin.svg#TitlingStandard") format("svg");
}

.v-centered, .slideshow-h, #MenuView .itemWrapper, .product-view-wrapper .sku-name {
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
}

.h-centered {
  left: 50%;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  transform: translateX(-50%);
}

.vh-centered {
  left: 50%;
  top: 50%;
  position: absolute;
  -webkit-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -ms-transform: translateX(-50%) translateY(-50%);
  -o-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
}

#MenuView {
  background-color: rgba(255, 255, 255, 0.95);
  z-index: 1000;
  position: absolute;
  width: 100%;
  height: 100%;
  display: none;
  top: 0;
  border: 50px solid transparent;
}

#menu-button {
  width: 27px;
  height: 40px;
  margin: 10px;
  background: none;
  z-index: 1100;
  margin-top: 0px;
  top: -50px;
  position: absolute;
  padding-top: 20px;
  cursor: pointer;
}
#menu-button i {
  height: 4px;
  width: 27px;
  display: block;
  background: #9e8a59;
}
#menu-button i:before {
  width: 27px;
  height: 4px;
  background: #9e8a59;
  content: '';
  display: block;
  position: absolute;
  z-index: -1;
  top: 12px;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
}
#menu-button i:after {
  width: 27px;
  height: 4px;
  background: #9e8a59;
  content: '';
  display: block;
  position: absolute;
  z-index: -1;
  top: 28px;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
}

#menu-button:hover i {
  background: #b1b4b4;
}
#menu-button:hover i:before {
  background: #b1b4b4;
  top: 10px;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
}
#menu-button:hover i:after {
  background: #b1b4b4;
  top: 30px;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
}

#menu-button.open i {
  background: #b1b4b4;
}
#menu-button.open i:before {
  background: #b1b4b4;
  top: 20px;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
}
#menu-button.open i:after {
  background: #b1b4b4;
  top: 20px;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
}

#MenuView .item {
  cursor: pointer;
  font-size: 64px;
  text-align: center;
  letter-spacing: 0.2em;
  height: 80px;
  position: relative;
  opacity: 0.4;
  margin-left: auto;
  margin-right: auto;
  -webkit-transition: all 0.6s cubic-bezier(0.25, 0.46, 0.45, 0.94);
  -moz-transition: all 0.6s cubic-bezier(0.25, 0.46, 0.45, 0.94);
  transition: all 0.6s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}
#MenuView .item .left {
  position: relative;
  left: 100%;
  opacity: 0;
  -webkit-transition: all 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94);
  -moz-transition: all 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94);
  transition: all 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}
#MenuView .item .left.slideIn {
  position: relative;
  left: 0;
  opacity: 1;
}
#MenuView .item .right {
  position: relative;
  margin-left: -0.2em;
  left: -100%;
  opacity: 0;
  -webkit-transition: all 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94);
  -moz-transition: all 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94);
  transition: all 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}
#MenuView .item .right.slideIn {
  position: relative;
  left: 0;
  opacity: 1;
}
#MenuView .item .right2 {
  margin-left: -0.8em;
}
#MenuView .item:hover {
  -webkit-transition: all 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94);
  -moz-transition: all 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94);
  transition: all 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94);
  opacity: 1;
}
#MenuView .item:nth-child(1) {
  width: 298px;
}
#MenuView .item:nth-child(1) .left {
  -webkit-transition: all 0.6s cubic-bezier(0.25, 0.46, 0.45, 0.94);
  -moz-transition: all 0.6s cubic-bezier(0.25, 0.46, 0.45, 0.94);
  transition: all 0.6s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}
#MenuView .item:nth-child(1) .right {
  -webkit-transition: all 0.6s cubic-bezier(0.25, 0.46, 0.45, 0.94);
  -moz-transition: all 0.6s cubic-bezier(0.25, 0.46, 0.45, 0.94);
  transition: all 0.6s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}
#MenuView .item:nth-child(2) {
  width: 159px;
}
#MenuView .item:nth-child(2) .left {
  -webkit-transition: all 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94);
  -moz-transition: all 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94);
  transition: all 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}
#MenuView .item:nth-child(2) .right {
  -webkit-transition: all 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94);
  -moz-transition: all 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94);
  transition: all 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}
#MenuView .item:nth-child(3) {
  width: 118px;
}

.mask-left {
  position: absolute;
  overflow: hidden;
  width: 50%;
  display: block;
  left: 0;
  text-align: left;
}

.mask-right {
  position: absolute;
  overflow: hidden;
  width: 50%;
  display: block;
  right: 0;
  text-align: right;
}

#MenuView .itemWrapper {
  position: absolute;
  left: 50%;
  margin-left: -151px;
  width: 302px;
}

.social-bar {
  text-align: center;
  top: 160px;
  position: relative;
}
.social-bar a {
  cursor: pointer;
  display: inline-block;
  -webkit-transition: all 0.6s;
  -moz-transition: all 0.6s;
  transition: all 0.6s;
}
.social-bar a img {
  top: 0px;
  position: relative;
}
.social-bar a:hover img {
  top: -5px;
  position: relative;
  -webkit-transition: all 0.6s;
  -moz-transition: all 0.6s;
  transition: all 0.6s;
}

@font-face {
  font-family: TitlingMedium;
  font-weight: normal;
  font-style: normal;
  src: url("../assets/fonts/TitlingGothicFB-MediumSkyline.eot");
  src: url("../assets/fonts/TitlingGothicFB-MediumSkyline.eot?#iefix") format("embedded-opentype"), url("../assets/fonts/TitlingGothicFB-MediumSkyline.woff") format("woff"), url("../assets/fonts/TitlingGothicFB-MediumSkyline.ttf") format("truetype"), url("../assets/fonts/TitlingGothicFB-MediumSkyline.svg#TitlingMedium") format("svg");
}

@font-face {
  font-family: TitlingStandard;
  font-weight: normal;
  font-style: normal;
  src: url("../assets/fonts/TitlingGothicFB-StandardSkylin.eot");
  src: url("../assets/fonts/TitlingGothicFB-StandardSkylin.eot?#iefix") format("embedded-opentype"), url("../assets/fonts/TitlingGothicFB-StandardSkylin.woff") format("woff"), url("../assets/fonts/TitlingGothicFB-StandardSkylin.ttf") format("truetype"), url("../assets/fonts/TitlingGothicFB-StandardSkylin.svg#TitlingStandard") format("svg");
}

.v-centered, .slideshow-h, #MenuView .itemWrapper, .product-view-wrapper .sku-name {
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
}

.h-centered {
  left: 50%;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  transform: translateX(-50%);
}

.vh-centered {
  left: 50%;
  top: 50%;
  position: absolute;
  -webkit-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -ms-transform: translateX(-50%) translateY(-50%);
  -o-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
}

#ProductView {
  position: absolute;
  border: 50px solid transparent;
  width: 100%;
  height: 100%;
  top: 0;
  z-index: 20;
  display: none;
}
@media (max-width: 768px) {
  #ProductView {
    border-left: 0;
    border-right: 0;
  }
}

.slideshow-wrapper-overlay {
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  overflow: hidden;
  top: 0;
  white-space: nowrap;
  overflow: none;
}

.product-view-wrapper {
  /*
    .slideshow-wrapper{
      margin: 0 auto;
      overflow: hidden;
    }*/
  height: 100%;
}
.product-view-wrapper .slideshow-wrapper {
  position: absolute;
  display: inline-block;
  width: 100%;
  height: 100%;
  overflow: hidden;
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
  transform: scale(1);
  top: 0;
  white-space: nowrap;
  background: white;
}
.product-view-wrapper .productImage {
  width: 100%;
  height: 100%;
  position: absolute;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  display: block;
  cursor: url("../assets/img/ui/productplusicon.png") 18 18, -moz-zoom-in;
}
.product-view-wrapper .sku-name {
  z-index: 30;
  position: absolute;
  pointer-events: none;
  font-family: "TitlingStandard";
  font-size: 255px;
  line-height: 25px;
  letter-spacing: 0.1em;
  opacity: 0;
  color: white;
  text-align: center;
  width: 100%;
  height: auto;
  margin: 0 0 0 0;
  position: absolute;
  -webkit-transition: all 1s cubic-bezier(0.25, 0.46, 0.45, 0.94);
  -moz-transition: all 1s cubic-bezier(0.25, 0.46, 0.45, 0.94);
  transition: all 1s cubic-bezier(0.25, 0.46, 0.45, 0.94);
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  color: red;
}
@media (max-width: 768px) {
  .product-view-wrapper .sku-name {
    font-size: 100px;
  }
}
.product-view-wrapper .sku-name.fade-in {
  -webkit-transition: all 1s cubic-bezier(0.25, 0.46, 0.45, 0.94);
  -moz-transition: all 1s cubic-bezier(0.25, 0.46, 0.45, 0.94);
  transition: all 1s cubic-bezier(0.25, 0.46, 0.45, 0.94);
  -webkit-transform: translateY(0);
  -moz-transform: translateY(0);
  -ms-transform: translateY(0);
  -o-transform: translateY(0);
  transform: translateY(0);
  opacity: 0.3;
}

#productUIOverlay {
  z-index: 30;
  position: absolute;
  width: 100%;
  height: 100%;
  pointer-events: none;
  top: 0;
}
#productUIOverlay img, #productUIOverlay p, #productUIOverlay i {
  cursor: pointer;
  pointer-events: all;
}
#productUIOverlay .productLeftArrow {
  position: absolute;
  top: 50%;
  left: 0;
  margin-top: -18px;
  margin-left: -18px;
  -webkit-transition: all 1s cubic-bezier(0.25, 0.46, 0.45, 0.94);
  -moz-transition: all 1s cubic-bezier(0.25, 0.46, 0.45, 0.94);
  transition: all 1s cubic-bezier(0.25, 0.46, 0.45, 0.94);
  -webkit-transform: translateX(-100px);
  -moz-transform: translateX(-100px);
  -ms-transform: translateX(-100px);
  -o-transform: translateX(-100px);
  transform: translateX(-100px);
  opacity: 0;
  z-index: 25;
}
#productUIOverlay .productLeftArrow.fade-in {
  -webkit-transition: all 1s cubic-bezier(0.25, 0.46, 0.45, 0.94);
  -moz-transition: all 1s cubic-bezier(0.25, 0.46, 0.45, 0.94);
  transition: all 1s cubic-bezier(0.25, 0.46, 0.45, 0.94);
  -webkit-transform: translateX(0px);
  -moz-transform: translateX(0px);
  -ms-transform: translateX(0px);
  -o-transform: translateX(0px);
  transform: translateX(0px);
  -webkit-transition-delay: 1s;
  -moz-transition-delay: 1s;
  transition-delay: 1s;
  opacity: 1;
}
#productUIOverlay .productRightArrow {
  position: absolute;
  top: 50%;
  right: 0;
  margin-top: -18px;
  margin-right: -18px;
  -webkit-transition: all 1s cubic-bezier(0.25, 0.46, 0.45, 0.94);
  -moz-transition: all 1s cubic-bezier(0.25, 0.46, 0.45, 0.94);
  transition: all 1s cubic-bezier(0.25, 0.46, 0.45, 0.94);
  -webkit-transform: translateX(100px);
  -moz-transform: translateX(100px);
  -ms-transform: translateX(100px);
  -o-transform: translateX(100px);
  transform: translateX(100px);
  opacity: 0;
  z-index: 25;
}
#productUIOverlay .productRightArrow.fade-in {
  -webkit-transition: all 1s cubic-bezier(0.25, 0.46, 0.45, 0.94);
  -moz-transition: all 1s cubic-bezier(0.25, 0.46, 0.45, 0.94);
  transition: all 1s cubic-bezier(0.25, 0.46, 0.45, 0.94);
  -webkit-transform: translateX(0);
  -moz-transform: translateX(0);
  -ms-transform: translateX(0);
  -o-transform: translateX(0);
  transform: translateX(0);
  -webkit-transition-delay: 1s;
  -moz-transition-delay: 1s;
  transition-delay: 1s;
  opacity: 1;
}
#productUIOverlay .productDetailsButton {
  position: absolute;
  top: 100%;
  left: 50%;
  margin-top: -18px;
  -webkit-transition: all 1s cubic-bezier(0.25, 0.46, 0.45, 0.94);
  -moz-transition: all 1s cubic-bezier(0.25, 0.46, 0.45, 0.94);
  transition: all 1s cubic-bezier(0.25, 0.46, 0.45, 0.94);
  -webkit-transform: translateY(100px);
  -moz-transform: translateY(100px);
  -ms-transform: translateY(100px);
  -o-transform: translateY(100px);
  transform: translateY(100px);
  opacity: 0;
  z-index: 25;
}
#productUIOverlay .productDetailsButton.fade-in {
  -webkit-transition: all 1s cubic-bezier(0.25, 0.46, 0.45, 0.94);
  -moz-transition: all 1s cubic-bezier(0.25, 0.46, 0.45, 0.94);
  transition: all 1s cubic-bezier(0.25, 0.46, 0.45, 0.94);
  -webkit-transform: translateY(0px);
  -moz-transform: translateY(0px);
  -ms-transform: translateY(0px);
  -o-transform: translateY(0px);
  transform: translateY(0px);
  -webkit-transition-delay: 2s;
  -moz-transition-delay: 2s;
  transition-delay: 2s;
  opacity: 1;
}
#productUIOverlay #backToCollection {
  right: 0;
  position: absolute;
  letter-spacing: 0.2em;
  font-size: 12px;
  opacity: 0.5;
  margin: 30px 27px;
  cursor: pointer;
}
#productUIOverlay #product-slider-pages {
  position: absolute;
  bottom: 0;
  margin: 28px 33px;
}
#productUIOverlay #product-slider-pages i {
  font-size: 11px;
  opacity: 0.5;
  font-style: normal;
  margin-left: 5px;
  letter-spacing: 0.2em;
  cursor: pointer;
}
#productUIOverlay #product-slider-pages i.active {
  opacity: 1;
}
#productUIOverlay .social-bar {
  right: 24px;
  position: absolute;
  top: 100%;
  margin-top: -52px;
}

.hd-image-wrapper {
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
  transform: scale(1);
  top: 0;
  display: none;
  z-index: 40;
  cursor: url("../assets/img/ui/productminusicon.png") 18 18, -moz-zoom-in;
  -webkit-transform-origin: 50% 50%;
  -moz-transform-origin: 50% 50%;
  -ms-transform-origin: 50% 50%;
  -o-transform-origin: 50% 50%;
  transform-origin: 50% 50%;
}

#productZoomImage {
  left: 50%;
  top: 50%;
  position: absolute;
  -webkit-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -ms-transform: translateX(-50%) translateY(-50%);
  -o-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
}

.productFB, .productTwitter, .productInstagram {
  -webkit-transition: all 1s cubic-bezier(0.25, 0.46, 0.45, 0.94);
  -moz-transition: all 1s cubic-bezier(0.25, 0.46, 0.45, 0.94);
  transition: all 1s cubic-bezier(0.25, 0.46, 0.45, 0.94);
  -webkit-transform: translateY(-200px);
  -moz-transform: translateY(-200px);
  -ms-transform: translateY(-200px);
  -o-transform: translateY(-200px);
  transform: translateY(-200px);
  opacity: 0;
}

.productFB.fade-in, .productTwitter.fade-in, .productInstagram.fade-in {
  -webkit-transition: all 0.6s cubic-bezier(0.25, 0.46, 0.45, 0.94);
  -moz-transition: all 0.6s cubic-bezier(0.25, 0.46, 0.45, 0.94);
  transition: all 0.6s cubic-bezier(0.25, 0.46, 0.45, 0.94);
  -webkit-transform: translateY(0px);
  -moz-transform: translateY(0px);
  -ms-transform: translateY(0px);
  -o-transform: translateY(0px);
  transform: translateY(0px);
  opacity: 1;
}

.productFB.fade-in {
  -webkit-transition-delay: 1.9s;
  -moz-transition-delay: 1.9s;
  transition-delay: 1.9s;
  z-index: 25;
}

.productTwitter.fade-in {
  -webkit-transition-delay: 1.7s;
  -moz-transition-delay: 1.7s;
  transition-delay: 1.7s;
  z-index: 25;
}

.productInstagram.fade-in {
  -webkit-transition-delay: 1.5s;
  -moz-transition-delay: 1.5s;
  transition-delay: 1.5s;
  z-index: 25;
}

@font-face {
  font-family: TitlingMedium;
  font-weight: normal;
  font-style: normal;
  src: url("../assets/fonts/TitlingGothicFB-MediumSkyline.eot");
  src: url("../assets/fonts/TitlingGothicFB-MediumSkyline.eot?#iefix") format("embedded-opentype"), url("../assets/fonts/TitlingGothicFB-MediumSkyline.woff") format("woff"), url("../assets/fonts/TitlingGothicFB-MediumSkyline.ttf") format("truetype"), url("../assets/fonts/TitlingGothicFB-MediumSkyline.svg#TitlingMedium") format("svg");
}

@font-face {
  font-family: TitlingStandard;
  font-weight: normal;
  font-style: normal;
  src: url("../assets/fonts/TitlingGothicFB-StandardSkylin.eot");
  src: url("../assets/fonts/TitlingGothicFB-StandardSkylin.eot?#iefix") format("embedded-opentype"), url("../assets/fonts/TitlingGothicFB-StandardSkylin.woff") format("woff"), url("../assets/fonts/TitlingGothicFB-StandardSkylin.ttf") format("truetype"), url("../assets/fonts/TitlingGothicFB-StandardSkylin.svg#TitlingStandard") format("svg");
}

.v-centered, .slideshow-h, #MenuView .itemWrapper, .product-view-wrapper .sku-name {
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
}

.h-centered {
  left: 50%;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  transform: translateX(-50%);
}

.vh-centered {
  left: 50%;
  top: 50%;
  position: absolute;
  -webkit-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -ms-transform: translateX(-50%) translateY(-50%);
  -o-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
}

#DetailsView {
  position: absolute;
  cursor: auto;
  pointer-events: all;
  width: 100%;
  height: 100%;
  top: 0;
  z-index: 24;
  display: block;
  background-color: #eee;
  color: #aaa;
}
@media (max-width: 768px) {
  #DetailsView {
    border-left: 0;
    border-right: 0;
  }
}
#DetailsView p, #DetailsView h1 {
  white-space: normal;
  display: table;
  text-align: center;
}
#DetailsView p {
  color: #aaa;
  font-size: 14px;
  font-family: Georgia, serif;
  font-weight: 100;
  margin: 30px 10%;
}
#DetailsView h1 {
  font-size: 15px;
  letter-spacing: 0.3em;
  text-align: center;
  width: 100%;
}
#DetailsView .image {
  width: 100%;
  height: 100%;
  position: relative;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.DetailsRow, .rowTop, .rowBottom {
  display: block;
  height: 50%;
}
.DetailsRow .columnA, .rowTop .columnA, .rowBottom .columnA {
  width: 50%;
  height: 100%;
  display: inline-block;
}
.DetailsRow .columnB, .rowTop .columnB, .rowBottom .columnB {
  width: 50%;
  height: 100%;
  display: inline-block;
}

.detailTextWrapper {
  top: 50%;
  position: relative;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-family: "TitlingStandard";
  color: #9e8a59;
}

html {
  min-height: 100%;
  width: 100%;
  height: 100%;
}

body {
  min-height: 100%;
  margin: 0;
  padding: 0;
  background-color: white;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.FrameBorder, #frame_left, #frame_right, #frame_top, #frame_bottom {
  background: #fff;
  position: fixed;
  opacity: 1;
  z-index: 100;
  width: 100%;
  height: 100%;
}

#frame_left {
  background: none;
  left: 0;
  top: 0;
  z-index: 10;
  width: 50px;
}

#frame_right {
  background: none;
  right: 0;
  top: 0;
  z-index: 10;
  width: 50px;
}

#frame_top {
  top: 0;
  height: 50px;
}

#frame_bottom {
  bottom: 0;
  height: 50px;
  z-index: 10;
  background: none;
}

@media (max-width: 768px) {
  #frame_left, #frame_right, #frame_bottom {
    display: none;
  }
}
.View {
  display: none;
}

#AppView {
  width: 100%;
  height: 100%;
  width: 100%;
  z-index: 0;
  position: absolute;
}

.logo-wrapper {
  z-index: 1500;
  top: 50%;
  left: 50%;
  margin-left: -62px;
  margin-top: -42px;
  width: 124px;
  height: 84pxzz;
}

.logo-mask {
  background-image: url("../assets/img/ui/logo.png");
  width: 0%;
  height: 84px;
}

.logo-alpha {
  position: absolute;
  z-index: 1;
  opacity: 0.2;
  top: 0;
  left: 0;
}
