@import "globals";

#MenuView{
  background-color:rgba(255,255,255,0.95);
  z-index:1000;
  @include position(absolute, 0 0 0 0);
  @include size(100% 100%);
  display: none;
  top: 0;
  border: 50px solid transparent;
}

#menu-button{
  width: 27px;
  height: 40px;
  margin: 10px;
  background: none;
  z-index:1100;
  margin-top: 0px;
  top: -50px;
  position: absolute;
  padding-top: 20px;
  cursor: pointer;

  i {
    height: 4px;
    width: 27px;
    display: block;
    background: $main-color;



  }

  i:before {
    width: 27px;
    height: 4px;

    background:$main-color;
    content: '';
    display: block;

    position: absolute;
    z-index: -1;
    top: 12px;
    @include transition(all 0.3s)
  }

  i:after {
    width: 27px;
    height: 4px;

    background:$main-color;
    content: '';
    display: block;

    position: absolute;
    z-index: -1;
    top: 28px;
    @include transition(all 0.3s)
  }
}


#menu-button:hover{

  i {

    background: $secondary-color;

  }

  i:before {
    background: $secondary-color;
    top: 10px;
    @include transition(all 0.3s)
  }

  i:after {
    background: $secondary-color;
    top: 30px;
    @include transition(all 0.3s)
  }
}


#menu-button.open{
  i {

    background: $secondary-color;

  }

  i:before {
    background: $secondary-color;
    top: 20px;
    @include transition(all 0.3s)
  }

  i:after {
    background: $secondary-color;
    top: 20px;
    @include transition(all 0.3s)
  }


}

#MenuView{
  .item{
    cursor: pointer;
      font-size: 64px;
    text-align: center;
    letter-spacing: 0.2em;
    height: 80px;
    position: relative;
    opacity:0.4;

    margin-left: auto;
    margin-right: auto;
    @include transition(all 0.6s  $ease-out-quad);
    .left{
      position: relative;
      left:100%;
      opacity: 0;
      @include transition(all 0.3s $ease-out-quad);
    }
    .left.slideIn{
      position: relative;
      left:0;
      opacity: 1;

    }
    .right{
      position: relative;
      margin-left: -0.2em;
      left:-100%;
      opacity: 0;
      @include transition(all 0.3s $ease-out-quad);
    }

    .right.slideIn{
      position: relative;
      left:0;
      opacity: 1;

    }
    .right2{
      margin-left: -0.8em;

    }
  }
  .item:hover{
    @include transition(all 0.3s  $ease-out-quad);
    opacity: 1;


  }

  .item:nth-child(1){
    width: 298px;
    .left{
      @include transition(all 0.6s $ease-out-quad);
    }
    .right{
      @include transition(all 0.6s $ease-out-quad);
    }
  }
  .item:nth-child(2){
    width: 159px;
    .left{
      @include transition(all 0.4s $ease-out-quad);
    }
    .right{
      @include transition(all 0.4s $ease-out-quad);
    }
  }
  .item:nth-child(3){
    width: 118px;
  }
}
.mask-left{
   position: absolute;
   overflow: hidden;
   width: 50%;
   display: block;
   left: 0;
  text-align: left;
 }

.mask-right{
  position: absolute;
  overflow: hidden;
  width: 50%;
  display: block;
  right: 0;
  text-align: right;
}
#MenuView{
  .itemWrapper{
    @extend .v-centered;
  //  @extend .h-centered;
    position: absolute;
    left:50%;
    margin-left: -151px;
    width: 302px;
  //  height: 300px;
  }
}

.social-bar{
  text-align: center;
  top: 160px;
  position: relative;

  a{
    cursor: pointer;
    display: inline-block;
    @include transition(all 0.6s);
    img{
      top: 0px;
      position: relative;
    }
  }
  a:hover{
    img{
   //   @include transform(translateY(-10px));
    //  opacity: 0.6;
      top: -5px;
      position: relative;
      @include transition(all 0.6s);
    }

 //   @include transition(all 1s);
  }
}