@import 'globals';
@import 'slideshow';
@import 'collection';
@import 'mainmenu';
@import 'productview';
@import 'detailsview';

*{
  @include box-sizing(border-box);
  font-family:"TitlingStandard";
  color:$main-color;

  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
html{
  min-height: 100%;

  @include size(100% 100%);
}
body{
  min-height: 100%;
  margin: 0;
  padding: 0;
  background-color: $white-color;
  @include size(100% 100%);
  overflow: hidden;

}

.FrameBorder{
  background: #fff;
  position: fixed;
  opacity: 1;
  z-index: 100;
  @include size(100% 100%);
}

#frame_left{
  @extend  .FrameBorder;
  background: none;
  left:0;
  top:0;
  z-index: 10;
  width: $borderSize;
}

#frame_right{
  @extend  .FrameBorder;
  background: none;
  right:0;
  top:0;
  z-index: 10;
  width: $borderSize;
}
#frame_top{
  @extend  .FrameBorder;
  top:0;
  height: $borderSize;
}
#frame_bottom{
  @extend  .FrameBorder;
  bottom:0;
  height:$borderSize;
  z-index: 10;
  background: none;
}





@media ($iphone) {
  #frame_left, #frame_right, #frame_bottom {
    display: none;
  }
}
.View{
  display: none;

}


#AppView{
  @include size(100% 100%);
  width: 100%;
  z-index:0;
  @include position(absolute, 0 0 0 0);
}


.logo-wrapper{
  position: absolute;
  z-index: 1500;
  top: 50%;
  left: 50% ;
  margin-left: -62px;
  margin-top: -42px;
  width: 124px;
  height: 84px;
  cursor: pointer;
}

.logo-mask{
  background-image: url("../assets/img/ui/logo.png");

  @include size(0% 84px)
}
.logo-alpha{
  position: absolute;
  z-index: 1;
  opacity: 0.2;
  top: 0;
  left: 0
}


