@import "globals";
$icon-size:36px;

#ProductView{
  @include position(absolute,  0 0 0 0);
  border: 50px solid transparent;
  @media ($iphone) {

    border-left:0;
    border-right:0;
  }

  @include size(100% 100%);
  top:0;

  z-index: 20;
  display: none;

}
.slideshow-wrapper-overlay{
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  overflow: hidden;

  top:0;
  white-space: nowrap;

  overflow: none;
}
.product-view-wrapper {
/*
  .slideshow-wrapper{
    margin: 0 auto;
    overflow: hidden;
  }*/
  height: 100%;

  .slideshow-wrapper  {
    position: absolute;
    display: inline-block;
    width: 100%;
    height: 100%;
    overflow: hidden;
    @include transform(scale(1));
    top:0;
    white-space: nowrap;
    background: white;
  }

.productImage{
  width: 100%;
  height: 100%;
  position: absolute;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
   display:block;
  cursor:url('../assets/img/ui/productplusicon.png') 18 18,-moz-zoom-in;

}



}

#productUIOverlay{
  z-index: 30;
  position: absolute;

  width: 100%;
  height: 100%;

  pointer-events: none;
  top:0;


  img, p,i{
    cursor: pointer;
    pointer-events: all;
  }


  .productLeftArrow{
    position: absolute;
    top:50%;
    left:0;
    margin-top: -$icon-size/2;
    margin-left: -$icon-size/2;
    @include transition(all 1s $ease-out-quad);
    @include transform(translateX(-100px));
    opacity: 0;
    z-index: 25;
  }
  .productLeftArrow.fade-in{
    @include transition(all 1s $ease-out-quad);
    @include transform(translateX(0px));
    @include transition-delay(1s);
    opacity: 1;
  }

  .productRightArrow{
    position: absolute;
    top:50%;
    right:0;
    margin-top: -$icon-size/2;
    margin-right: -$icon-size/2;
    @include transition(all 1s $ease-out-quad);
    @include transform(translateX(100px));
    opacity: 0;
    z-index: 25;
  }
  .productRightArrow.fade-in{
    @include transition(all 1s $ease-out-quad);
    @include transform(translateX(0));
    @include transition-delay(1s);
    opacity: 1;
  }

.productDetailsButton{
  position: absolute;
  top:100%;
  left:50%;
  margin-top: -$icon-size/2;
  margin-left: -$icon-size/2;
  @include transition(all 1s $ease-out-quad);
  @include transform(translateY(100px));
  opacity: 0;
  z-index: 25;
}

  .productDetailsButton.fade-in{
    @include transition(all 1s $ease-out-quad);
    @include transform(translateY(0px));
    @include transition-delay(2s);
    opacity: 1;
  }
  #backToCollection{
    right: 0;
    position: absolute;
    letter-spacing: 0.2em;
    font-size: 12px;
    opacity: 0.5;
    margin: 30px 27px;
    cursor: pointer;
  }

  #product-slider-pages{
    position: absolute;
    bottom: 0;
    margin: 28px 33px;

    i{
      font-size: 11px;
      opacity: 0.5;
      font-style: normal;
      margin-left: 5px;
      letter-spacing: 0.2em;
      cursor: pointer;
    }
    i.active{
      opacity: 1;
    }
  }
  .social-bar{
    right: 24px;
    position: absolute;

    top: 100%;
    margin-top: -52px;
  }

}
.hd-image-wrapper {
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;
  @include transform(scale(1));
  top:0;
  display: none;
  z-index: 40;
  cursor:url('../assets/img/ui/productminusicon.png') 18 18,-moz-zoom-in;
  @include transform-origin(50% 50%);

}



#productZoomImage{

//  @include transform-origin(50% 50%);
  left: 50%;
  top: 50%;

  position: absolute;
  @include transform(translateX(-50%) translateY(-50%));
//  margin-left: -50%;

//  margin-top: -50%;



}

.productFB,.productTwitter,.productInstagram{
  @include transition(all 1s $ease-out-quad);
  @include transform(translateY(-200px));
  opacity: 0;
}

.productFB.fade-in,.productTwitter.fade-in,.productInstagram.fade-in{
  @include transition(all 0.6s $ease-out-quad);
  @include transform(translateY(0px));

  opacity: 1;
}
.productFB.fade-in{
  @include transition-delay(1.9s);
  z-index: 25;
}
.productTwitter.fade-in{

  @include transition-delay(1.7s);
  z-index: 25;
}



.productInstagram.fade-in{

  @include transition-delay(1.5s);
  z-index: 25;
}



.product-sku-name{
  -webkit-transform-style: preserve-3d;

  position: absolute;
  @extend .v-centered;
   pointer-events:none;
  font-family:"TitlingStandard";
  font-size: 255px;
  line-height: 25px;
  @media ($iphone) {
    font-size: 100px;
  }
  letter-spacing: 0.1em;
  opacity: 0;

  text-align: center;
  @include  size(100% auto);
  margin:0 0 0 0;
  color:red;

 // @include transition(all 0.4s/* $ease-out-quad*/);
 //  @include transform(translateY(-50%));




}

@media (max-width: 1200px) {
  .product-sku-name {
    font-size: 200px;
    line-height: 20px;
  }
}

@media (max-width: 800px) {
  .product-sku-name {
    font-size: 120px;
    line-height: 12px;
  }
}


.product-sku-name.fade-in{

 // @include transition(all 0.65s /*$ease-out-quad*/);
  //@include transform(translateY(0));

  // opacity: 0.3;
}


.product-sku-name.slide-up{
  -webkit-transform-style: preserve-3d;
  @include transition(all 0.45s 'cubic-bezier(0.165, 0.84, 0.44, 1)');
  @include transform(translateY(-2000%));

  opacity: 0;
}