@font-face {
  font-family: TitlingMedium;
  font-weight: normal;
  font-style: normal;
  src: url("../assets/fonts/TitlingGothicFB-MediumSkyline.eot");
  src: url("../assets/fonts/TitlingGothicFB-MediumSkyline.eot?#iefix") format("embedded-opentype"), url("../assets/fonts/TitlingGothicFB-MediumSkyline.woff") format("woff"), url("../assets/fonts/TitlingGothicFB-MediumSkyline.ttf") format("truetype"), url("../assets/fonts/TitlingGothicFB-MediumSkyline.svg#TitlingMedium") format("svg");
}

@font-face {
  font-family: TitlingStandard;
  font-weight: normal;
  font-style: normal;
  src: url("../assets/fonts/TitlingGothicFB-StandardSkylin.eot");
  src: url("../assets/fonts/TitlingGothicFB-StandardSkylin.eot?#iefix") format("embedded-opentype"), url("../assets/fonts/TitlingGothicFB-StandardSkylin.woff") format("woff"), url("../assets/fonts/TitlingGothicFB-StandardSkylin.ttf") format("truetype"), url("../assets/fonts/TitlingGothicFB-StandardSkylin.svg#TitlingStandard") format("svg");
}

.v-centered, .product-view-wrapper .sku-name {
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
}

.h-centered {
  left: 50%;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  transform: translateX(-50%);
}

.vh-centered {
  left: 50%;
  top: 50%;
  position: absolute;
  -webkit-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -ms-transform: translateX(-50%) translateY(-50%);
  -o-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
}

#ProductView {
  position: absolute;
  border: 50px solid transparent;
  width: 100%;
  height: 100%;
  top: 0;
  z-index: 20;
  display: none;
}
@media (max-width: 768px) {
  #ProductView {
    border-left: 0;
    border-right: 0;
  }
}

.slideshow-wrapper-overlay {
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  overflow: hidden;
  top: 0;
  white-space: nowrap;
  overflow: none;
}

.product-view-wrapper {
  /*
    .slideshow-wrapper{
      margin: 0 auto;
      overflow: hidden;
    }*/
  height: 100%;
}
.product-view-wrapper .slideshow-wrapper {
  position: absolute;
  display: inline-block;
  width: 100%;
  height: 100%;
  overflow: hidden;
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
  transform: scale(1);
  top: 0;
  white-space: nowrap;
  background: white;
}
.product-view-wrapper .productImage {
  width: 100%;
  height: 100%;
  position: absolute;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  display: block;
  cursor: url("../assets/img/ui/productplusicon.png") 18 18, -moz-zoom-in;
}
.product-view-wrapper .sku-name {
  z-index: 30;
  position: absolute;
  pointer-events: none;
  font-family: "TitlingStandard";
  font-size: 255px;
  line-height: 25px;
  letter-spacing: 0.1em;
  opacity: 0;
  color: white;
  text-align: center;
  width: 100%;
  height: auto;
  margin: 0 0 0 0;
  position: absolute;
  -webkit-transition: all 1s cubic-bezier(0.25, 0.46, 0.45, 0.94);
  -moz-transition: all 1s cubic-bezier(0.25, 0.46, 0.45, 0.94);
  transition: all 1s cubic-bezier(0.25, 0.46, 0.45, 0.94);
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  color: red;
}
@media (max-width: 768px) {
  .product-view-wrapper .sku-name {
    font-size: 100px;
  }
}
.product-view-wrapper .sku-name.fade-in {
  -webkit-transition: all 1s cubic-bezier(0.25, 0.46, 0.45, 0.94);
  -moz-transition: all 1s cubic-bezier(0.25, 0.46, 0.45, 0.94);
  transition: all 1s cubic-bezier(0.25, 0.46, 0.45, 0.94);
  -webkit-transform: translateY(0);
  -moz-transform: translateY(0);
  -ms-transform: translateY(0);
  -o-transform: translateY(0);
  transform: translateY(0);
  opacity: 0.3;
}

#productUIOverlay {
  z-index: 30;
  position: absolute;
  width: 100%;
  height: 100%;
  pointer-events: none;
  top: 0;
}
#productUIOverlay img, #productUIOverlay p, #productUIOverlay i {
  cursor: pointer;
  pointer-events: all;
}
#productUIOverlay .productLeftArrow {
  position: absolute;
  top: 50%;
  left: 0;
  margin-top: -18px;
  margin-left: -18px;
  -webkit-transition: all 1s cubic-bezier(0.25, 0.46, 0.45, 0.94);
  -moz-transition: all 1s cubic-bezier(0.25, 0.46, 0.45, 0.94);
  transition: all 1s cubic-bezier(0.25, 0.46, 0.45, 0.94);
  -webkit-transform: translateX(-100px);
  -moz-transform: translateX(-100px);
  -ms-transform: translateX(-100px);
  -o-transform: translateX(-100px);
  transform: translateX(-100px);
  opacity: 0;
  z-index: 25;
}
#productUIOverlay .productLeftArrow.fade-in {
  -webkit-transition: all 1s cubic-bezier(0.25, 0.46, 0.45, 0.94);
  -moz-transition: all 1s cubic-bezier(0.25, 0.46, 0.45, 0.94);
  transition: all 1s cubic-bezier(0.25, 0.46, 0.45, 0.94);
  -webkit-transform: translateX(0px);
  -moz-transform: translateX(0px);
  -ms-transform: translateX(0px);
  -o-transform: translateX(0px);
  transform: translateX(0px);
  -webkit-transition-delay: 1s;
  -moz-transition-delay: 1s;
  transition-delay: 1s;
  opacity: 1;
}
#productUIOverlay .productRightArrow {
  position: absolute;
  top: 50%;
  right: 0;
  margin-top: -18px;
  margin-right: -18px;
  -webkit-transition: all 1s cubic-bezier(0.25, 0.46, 0.45, 0.94);
  -moz-transition: all 1s cubic-bezier(0.25, 0.46, 0.45, 0.94);
  transition: all 1s cubic-bezier(0.25, 0.46, 0.45, 0.94);
  -webkit-transform: translateX(100px);
  -moz-transform: translateX(100px);
  -ms-transform: translateX(100px);
  -o-transform: translateX(100px);
  transform: translateX(100px);
  opacity: 0;
  z-index: 25;
}
#productUIOverlay .productRightArrow.fade-in {
  -webkit-transition: all 1s cubic-bezier(0.25, 0.46, 0.45, 0.94);
  -moz-transition: all 1s cubic-bezier(0.25, 0.46, 0.45, 0.94);
  transition: all 1s cubic-bezier(0.25, 0.46, 0.45, 0.94);
  -webkit-transform: translateX(0);
  -moz-transform: translateX(0);
  -ms-transform: translateX(0);
  -o-transform: translateX(0);
  transform: translateX(0);
  -webkit-transition-delay: 1s;
  -moz-transition-delay: 1s;
  transition-delay: 1s;
  opacity: 1;
}
#productUIOverlay .productDetailsButton {
  position: absolute;
  top: 100%;
  left: 50%;
  margin-top: -18px;
  -webkit-transition: all 1s cubic-bezier(0.25, 0.46, 0.45, 0.94);
  -moz-transition: all 1s cubic-bezier(0.25, 0.46, 0.45, 0.94);
  transition: all 1s cubic-bezier(0.25, 0.46, 0.45, 0.94);
  -webkit-transform: translateY(100px);
  -moz-transform: translateY(100px);
  -ms-transform: translateY(100px);
  -o-transform: translateY(100px);
  transform: translateY(100px);
  opacity: 0;
  z-index: 25;
}
#productUIOverlay .productDetailsButton.fade-in {
  -webkit-transition: all 1s cubic-bezier(0.25, 0.46, 0.45, 0.94);
  -moz-transition: all 1s cubic-bezier(0.25, 0.46, 0.45, 0.94);
  transition: all 1s cubic-bezier(0.25, 0.46, 0.45, 0.94);
  -webkit-transform: translateY(0px);
  -moz-transform: translateY(0px);
  -ms-transform: translateY(0px);
  -o-transform: translateY(0px);
  transform: translateY(0px);
  -webkit-transition-delay: 2s;
  -moz-transition-delay: 2s;
  transition-delay: 2s;
  opacity: 1;
}
#productUIOverlay #backToCollection {
  right: 0;
  position: absolute;
  letter-spacing: 0.2em;
  font-size: 12px;
  opacity: 0.5;
  margin: 30px 27px;
  cursor: pointer;
}
#productUIOverlay #product-slider-pages {
  position: absolute;
  bottom: 0;
  margin: 28px 33px;
}
#productUIOverlay #product-slider-pages i {
  font-size: 11px;
  opacity: 0.5;
  font-style: normal;
  margin-left: 5px;
  letter-spacing: 0.2em;
  cursor: pointer;
}
#productUIOverlay #product-slider-pages i.active {
  opacity: 1;
}
#productUIOverlay .social-bar {
  right: 24px;
  position: absolute;
  top: 100%;
  margin-top: -52px;
}

.hd-image-wrapper {
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
  transform: scale(1);
  top: 0;
  display: none;
  z-index: 40;
  cursor: url("../assets/img/ui/productminusicon.png") 18 18, -moz-zoom-in;
  -webkit-transform-origin: 50% 50%;
  -moz-transform-origin: 50% 50%;
  -ms-transform-origin: 50% 50%;
  -o-transform-origin: 50% 50%;
  transform-origin: 50% 50%;
}

#productZoomImage {
  left: 50%;
  top: 50%;
  position: absolute;
  -webkit-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -ms-transform: translateX(-50%) translateY(-50%);
  -o-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
}

.productFB, .productTwitter, .productInstagram {
  -webkit-transition: all 1s cubic-bezier(0.25, 0.46, 0.45, 0.94);
  -moz-transition: all 1s cubic-bezier(0.25, 0.46, 0.45, 0.94);
  transition: all 1s cubic-bezier(0.25, 0.46, 0.45, 0.94);
  -webkit-transform: translateY(-200px);
  -moz-transform: translateY(-200px);
  -ms-transform: translateY(-200px);
  -o-transform: translateY(-200px);
  transform: translateY(-200px);
  opacity: 0;
}

.productFB.fade-in, .productTwitter.fade-in, .productInstagram.fade-in {
  -webkit-transition: all 0.6s cubic-bezier(0.25, 0.46, 0.45, 0.94);
  -moz-transition: all 0.6s cubic-bezier(0.25, 0.46, 0.45, 0.94);
  transition: all 0.6s cubic-bezier(0.25, 0.46, 0.45, 0.94);
  -webkit-transform: translateY(0px);
  -moz-transform: translateY(0px);
  -ms-transform: translateY(0px);
  -o-transform: translateY(0px);
  transform: translateY(0px);
  opacity: 1;
}

.productFB.fade-in {
  -webkit-transition-delay: 1.9s;
  -moz-transition-delay: 1.9s;
  transition-delay: 1.9s;
  z-index: 25;
}

.productTwitter.fade-in {
  -webkit-transition-delay: 1.7s;
  -moz-transition-delay: 1.7s;
  transition-delay: 1.7s;
  z-index: 25;
}

.productInstagram.fade-in {
  -webkit-transition-delay: 1.5s;
  -moz-transition-delay: 1.5s;
  transition-delay: 1.5s;
  z-index: 25;
}
