@font-face {
  font-family: TitlingMedium;
  font-weight: normal;
  font-style: normal;
  src: url("../assets/fonts/TitlingGothicFB-MediumSkyline.eot");
  src: url("../assets/fonts/TitlingGothicFB-MediumSkyline.eot?#iefix") format("embedded-opentype"), url("../assets/fonts/TitlingGothicFB-MediumSkyline.woff") format("woff"), url("../assets/fonts/TitlingGothicFB-MediumSkyline.ttf") format("truetype"), url("../assets/fonts/TitlingGothicFB-MediumSkyline.svg#TitlingMedium") format("svg");
}

@font-face {
  font-family: TitlingStandard;
  font-weight: normal;
  font-style: normal;
  src: url("../assets/fonts/TitlingGothicFB-StandardSkylin.eot");
  src: url("../assets/fonts/TitlingGothicFB-StandardSkylin.eot?#iefix") format("embedded-opentype"), url("../assets/fonts/TitlingGothicFB-StandardSkylin.woff") format("woff"), url("../assets/fonts/TitlingGothicFB-StandardSkylin.ttf") format("truetype"), url("../assets/fonts/TitlingGothicFB-StandardSkylin.svg#TitlingStandard") format("svg");
}

.v-centered, .slideshow-h {
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
}

.h-centered {
  left: 50%;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  transform: translateX(-50%);
}

.vh-centered {
  left: 50%;
  top: 50%;
  position: absolute;
  -webkit-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -ms-transform: translateX(-50%) translateY(-50%);
  -o-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
}

#SlideShow {
  position: relative;
  border: 50px solid transparent;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: 1;
}

.slideshow-wrapper {
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;
  -webkit-transform: scale(0);
  -moz-transform: scale(0);
  -ms-transform: scale(0);
  -o-transform: scale(0);
  transform: scale(0);
}

.zoomIn {
  -webkit-transition: all 2s cubic-bezier(0.25, 0.46, 0.45, 0.94);
  -moz-transition: all 2s cubic-bezier(0.25, 0.46, 0.45, 0.94);
  transition: all 2s cubic-bezier(0.25, 0.46, 0.45, 0.94);
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
  transform: scale(1);
}

.slideshow-image, .slide-image {
  width: 100%;
  height: 100%;
  position: absolute;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

#slide0 .slide-image {
  -webkit-transform-origin: 20% 80%;
  -moz-transform-origin: 20% 80%;
  -ms-transform-origin: 20% 80%;
  -o-transform-origin: 20% 80%;
  transform-origin: 20% 80%;
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -o-transform: scale(1.1);
  transform: scale(1.1);
}

#slide1 .slide-image {
  -webkit-transform-origin: 60% 80%;
  -moz-transform-origin: 60% 80%;
  -ms-transform-origin: 60% 80%;
  -o-transform-origin: 60% 80%;
  transform-origin: 60% 80%;
}

#slide2 .slide-image {
  -webkit-transform-origin: 100% 40%;
  -moz-transform-origin: 100% 40%;
  -ms-transform-origin: 100% 40%;
  -o-transform-origin: 100% 40%;
  transform-origin: 100% 40%;
}

#slide3 .slide-image {
  -webkit-transform-origin: 70% 40%;
  -moz-transform-origin: 70% 40%;
  -ms-transform-origin: 70% 40%;
  -o-transform-origin: 70% 40%;
  transform-origin: 70% 40%;
}

#slide4 .slide-image {
  -webkit-transform-origin: 20% 80%;
  -moz-transform-origin: 20% 80%;
  -ms-transform-origin: 20% 80%;
  -o-transform-origin: 20% 80%;
  transform-origin: 20% 80%;
}

#slide5 .slide-image {
  -webkit-transform-origin: 60% 80%;
  -moz-transform-origin: 60% 80%;
  -ms-transform-origin: 60% 80%;
  -o-transform-origin: 60% 80%;
  transform-origin: 60% 80%;
}

#slide6 .slide-image {
  -webkit-transform-origin: 30% 40%;
  -moz-transform-origin: 30% 40%;
  -ms-transform-origin: 30% 40%;
  -o-transform-origin: 30% 40%;
  transform-origin: 30% 40%;
}

#slide7 .slide-image {
  -webkit-transform-origin: 70% 40%;
  -moz-transform-origin: 70% 40%;
  -ms-transform-origin: 70% 40%;
  -o-transform-origin: 70% 40%;
  transform-origin: 70% 40%;
}

@-webkit-keyframes slideMeIn {
  0% {
    -webkit-transform: scale(1.1) translateY(100%);
  }

  50% {
    -webkit-transform: scale(1) translateY(0);
  }
}

@-moz-keyframes slideMeIn {
  0% {
    -moz-transform: scale(1.1) translateY(100%);
  }

  50% {
    -moz-transform: scale(1) translateY(0);
  }
}

@-o-keyframes slideMeIn {
  0% {
    -o-transform: scale(1.1) translateY(100%);
  }

  50% {
    -o-transform: scale(1) translateY(0);
  }
}

@keyframes slideMeIn {
  0% {
    transform: scale(1.1) translateY(100%);
  }

  50% {
    transform: scale(1) translateY(0);
  }
}

.slideIn {
  -webkit-animation: slideMeIn 2s cubic-bezier(0.25, 0.46, 0.45, 0.94);
  -moz-animation: slideMeIn 2s cubic-bezier(0.25, 0.46, 0.45, 0.94);
  animation: slideMeIn 2s cubic-bezier(0.25, 0.46, 0.45, 0.94);
  /*
  @include transition(all 1s $ease-out-quad);

  top:0 !important;
  */
}

.active {
  z-index: 6;
}

.slideshow-pagination {
  position: absolute;
  right: 0;
  width: 10px;
  height: 88px;
  top: 50%;
  margin-top: -44px;
  z-index: 15;
}
@media (max-width: 768px) {
  .slideshow-pagination {
    right: 38px;
  }
}

.slideshow-pagination i {
  width: 10px;
  height: 11px;
  background-image: url("../assets/img/ui/diamond_off.svg");
  display: block;
  cursor: pointer;
  position: relative;
  -webkit-transform: translateX(20px);
  -moz-transform: translateX(20px);
  -ms-transform: translateX(20px);
  -o-transform: translateX(20px);
  transform: translateX(20px);
}
.slideshow-pagination .on {
  background-image: url("../assets/img/ui/diamond_on.svg");
}
.slideshow-pagination i:hover {
  opacity: 0.5;
}

.slideshow-h {
  font-family: "TitlingStandard";
  font-size: 255px;
  line-height: 25px;
  letter-spacing: 0.1em;
  opacity: 0.3;
  color: white;
  text-align: center;
  width: 100%;
  height: auto;
  margin: 0 0 0 0;
  position: absolute;
  pointer-events: none;
}
@media (max-width: 768px) {
  .slideshow-h {
    font-size: 100px;
  }
}

.slide-cta {
  font-family: "TitlingStandard";
  font-size: 14px;
  color: #9d8a35;
  line-height: 4.167;
  text-align: center;
  position: relative;
  top: 80%;
  opacity: 0;
  z-index: 15;
  letter-spacing: 0.9em;
  cursor: pointer;
}
