@import "globals";

#SlideShow{
  @include position(relative,  0 0 0 0);
  border: 50px solid transparent;
  @include size(100% 100%);
  overflow: hidden;



  z-index: 1;


}
.slideshow-wrapper{
  @include position(absolute, 0 0 0 0);
  @include size(100% 100%);
  overflow: hidden;

  @include transform(scale(0));

}
.zoomIn{

  @include transition(all 2s $ease-out-quad);

  @include transform(scale(1));
}


.slideshow-image{
  @include size(100% 100%);
  @include position(absolute, 0 0 0 0);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;





}
.slide-image {
  @extend .slideshow-image;
}

#slide0 {
  .slide-image {

    @include transform-origin(20% 80%);
    @include transform(scale(1.1));
  }
}
#slide1 {
   .slide-image {
     @include transform-origin(60% 80%);
   }
 }
#slide2 {
  .slide-image {

    @include transform-origin(100% 40%);
  }
}
#slide3 {
  .slide-image {
    @include transform-origin(70% 40%);
  }
}

#slide4 {
  .slide-image {

    @include transform-origin(20% 80%);
  }
}
#slide5 {
  .slide-image {
    @include transform-origin(60% 80%);
  }
}

#slide6 {
  .slide-image {

    @include transform-origin(30% 40%);
  }
}
#slide7 {
  .slide-image {
    @include transform-origin(70% 40%);
  }
}

@include keyframes(slideMeIn) {
  0% {

    @include transform(scale(1.1)  translateY(100%));

  }

  50% {
    @include transform(scale(1) translateY(0));

  }
}
.slideIn{

  @include animation(slideMeIn 2.0s $ease-out-quad);
  /*
  @include transition(all 1s $ease-out-quad);

  top:0 !important;
  */
}
 .active{
  z-index:6 ;
}


.slideshow-pagination {
  position: absolute;
  right:0;
  width: 10px;
  height: 11px*8;
  top:50%;
  margin-top:-11px*4;
  @media ($iphone) {
    right:38px;
  }
  z-index: 15;
}

.slideshow-pagination{

  i{
    @include size(10px 11px);
    background-image: url('../assets/img/ui/diamond_off.svg');
    display: block;
    cursor: pointer;
    position: relative;
    @include transform(translateX(-10px));
    opacity:0;
 //   @include transition(all 2s $ease-out-quad);

  }


  .on{
       background-image: url('../assets/img/ui/diamond_on.svg');
     }
  i:hover{
    opacity: 0.5;
  }
}




.slideshow-h{
  @extend .v-centered;

  font-family:"TitlingStandard";
  font-size: 255px;
  line-height: 25px;
  @media ($iphone) {
    font-size: 100px;
  }
  letter-spacing: 0.1em;
  opacity: 0.3;
  color:white;
  text-align: center;
  @include  size(100% auto);
  margin:0 0 0 0;
  position: absolute;

  pointer-events:none;
}

.slide-cta{
  font-family:"TitlingStandard";

    font-size: 14px;

    color: rgb( 157, 138, 53 );
    line-height: 4.167;
    text-align: center;
    position: relative;
    top:80%;
  opacity:0;

    z-index: 15;
  letter-spacing: 0.9em;
  cursor: pointer;

}

