<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Valentina Carrano Shoes</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no">
        <meta name="apple-mobile-web-app-capable" content="yes">
        <meta name="apple-mobile-web-app-status-bar-style" content="black">

        <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->

        <link rel="stylesheet" href="css/normalize.css">
        <link rel="stylesheet" href="css/main.css">
        <link rel="stylesheet" href="css/style.css">
        <script src="js/vendor/modernizr-2.6.2.min.js"></script>
    </head>
    <body>
        <!--[if lt IE 7]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->

        <div id="AppView">
            <div id="menu-button"><i></i></div>
            <div id="loader">
                <div class="logo-wrapper">
                    <a href="/" rel="address:/deep-link">
                    <div class="logo-mask">
                    </div>
                    <img class="logo-alpha"src="assets/img/ui/logo.png" width="124" height="84"/>
                        </a>
                </div>
            </div>
            <div id="SlideShow">
            </div>
            <div id="CollectionView">

            </div>
            <div id="ProductView">

            </div>
            <div id="BrandView">

            </div>
            <footer>
                <div id="frame_left"></div>
                <div id="frame_right"></div>
                <div id="frame_top"> </div>
                <div id="frame_bottom"></div>
            </footer>
            <div id="MenuView">
                <div class="itemWrapper">
                    <div id="menuItem1" class="item"><span class="mask-left"><span class="left">COLLE</span> </span><span class="mask-right"><span class="right">CTION</span></span> </div>
                    <div id="menuItem2" class="item"><span class="mask-left"><span class="left">BRA</span></span><span class="mask-right"> <span class="right right2">AND</span></span> </div>
                    <div id="menuItem3"class="item"><span class="mask-left"><span class="left">IN</span></span><span class="mask-right"> <span class="right">FO</span></span> </div>
                    <div class="social-bar">
                        <a href=""><img src="assets/img/ui/fb.png"/></a>
                        <a href=""><img src="assets/img/ui/twitter.png"/></a>
                        <a href=""><img src="assets/img/ui/instagram.png"/></a>
                    </div>
                </div>

            </div>
        </div>



        <!-- TEMPLATES -->
        <script type="text/x-handlebars-template" id="hellotemplate">
            <h3> {{who}}</h3>

        </script>

        <script type="text/x-handlebars-template" id="slideshow_template">
          <div id="main-slideshow-wrapper" class="slideshow-wrapper">

         <!--  {{#each image}}
              {{@index}}: {{this}}
              {{/each}}-->

              {{#each image}}

              <div id="slide{{@index}}" class="slideshow-image" >
                  <div class="slide-image" style="background-image:url({{this}});"></div>
                <p id="slideH{{@index}}" class="slideshow-h">FW 2014</p>
              </div>
              {{/each}}
              <p class="slide-cta">SEE FULL COLLECTION</p>
               <div class="slideshow-pagination">

                   {{#each image}}

                    <i id="slideDiamond{{@index}}" />
                   {{/each}}
               </div>
           </div>


        </script>

        <script type="text/x-handlebars-template" id="collection-item-template">
            <article class="collection-item" id="collectionItem{{id}}">
                <a href="#!product/{{id}}" rel="address:/deep-link">
                    <img class="collection-image" src="{{imageURL}}"/>
                    <img class="plus-icon" src="assets/img/ui/plusicon.png"/>
                    <p class="sku-name">{{skuName}}</p>
                </a>
            </article>
        </script>

        <script type="text/x-handlebars-template" id="product-page-template">
            <div class="product-view-wrapper">
                <div class="slideshow-wrapper-overlay">
                    <div class="slideshow-wrapper slideshow-wrapper-current">
                        <div class="productImage1 productImage"/>
                        <div class="productImage2 productImage" />
                        <div class="productImage3 productImage" />

                    </div>
                    <div class="slideshow-wrapper slideshow-wrapper-new">
                        <div class="productImage1 productImage" />
                        <div class="productImage2 productImage" />
                        <div class="productImage3 productImage" />

                    </div>
                    <p class="product-sku-name">{{SKUName}}</p>
             <!--       <p class="product-sku-name product-sku-name-new">{{SKUName}}</p> -->
                    <div class="hd-image-wrapper">
                        <img id="productZoomImage" />
                    </div>



                </div>



            </div>
            <div id="productUIOverlay">
                <p id="backToCollection">BACK TO COLLECTION</p>
                <img class="productLeftArrow" src="assets/img/ui/productlefticon.png"/>
                <img class="productRightArrow" src="assets/img/ui/productrighticon.png"/>
                <img class="productDetailsButton" src="assets/img/ui/productdetails.png"/>
                <div class="social-bar">
                    <img class="productFB" src="assets/img/ui/productfacebook.png"/>
                    <img class="productTwitter" src="assets/img/ui/producttwitter.png"/>
                    <img class="productInstagram" src="assets/img/ui/productinstagram.png"/>
                </div>
                <div id="product-slider-pages">
                    <i id="productDot1" class="active">01</i>
                    <i id="productDot2">02</i>
                    <i id="productDot3">03</i>
                </div>
                <div class="slideshow-wrapper-overlay">
                  <div id="DetailsView"></div>
                </div>
            </div>

        </script>


        <script type="text/x-handlebars-template" id="details-view-template">
            <div class="rowTop">
                <div class="columnA">
                    <div class="detailsImage" id="detailsImageA" style="background-image:url({{imageURLA}})"/>
                </div>
                <div class="columnB">

                    <div class="detailTextWrapper">
                        <h1 class="detailsHeader" id="detailsHeaderA">{{titleA}}</h1>
                        <p class="detailsParagraph" id="detailsParagraphA">{{textA}}</p>
                    </div>


                </div>
            </div>
            <div class="rowBottom">
                <div class="columnA">
                    <div class="detailTextWrapper">
                        <h1  class="detailsHeader" id="detailsHeaderB">{{titleB}}</h1>
                        <p class="detailsParagraph" id="detailsParagraphB">{{textB}}</p>
                    </div>
                </div>
                <div class="columnB">
                    <div class="detailsImage"  id="detailsImageB" style="background-image:url({{imageURLB}})"/>
                </div>
            </div>

        </script>

        <script src="js/vendor/jquery-1.9.0.min.js"></script>
        <script src="js/vendor/underscore-min.js"></script>
        <script src="js/vendor/jquery.address.js"></script>
        <script src="js/vendor/backbone-min.js"></script>
        <script src="js/vendor/handlebars.min.js"></script>
        <script src="js/plugins.js"></script>
        <script src="js/vendor/smartpreload.js"></script>

      <script src="js/vendor/CSSPlugin.min.js"></script>
        <script src="js/vendor/EasePack.js"></script>
        <script src="js/vendor/TweenLite.min.js"></script>

        <script src="js/vendor/jquery.transit.min.js"></script>

        <script src="js/models/App.js"></script>

        <script src="js/views/AppView.js"></script>
        <script src="js/views/BrandView.js"></script>
        <script src="js/views/CollectionView.js"></script>
        <script src="js/views/DetailsView.js"></script>
        <script src="js/views/MenuView.js"></script>
        <script src="js/views/ProductView.js"></script>
        <script src="js/views/SlideshowView.js"></script>
        <script src="js/main.js"></script>



        <!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
        <script>
            (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
            function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
            e=o.createElement(i);r=o.getElementsByTagName(i)[0];
            e.src='//www.google-analytics.com/analytics.js';
            r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
            ga('create','UA-XXXXX-X');ga('send','pageview');
        </script>
    </body>
</html>
